---
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Experiencia from "../components/Experiencia.astro";
import Proyectos from "../components/Proyectos.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Nahuel Caceres">
  <main class="px-4">
    <SectionContainer class="pb-8 pt-20 md:pt-28 md:pb-16">
      <Hero />
    </SectionContainer>
    <SectionContainer class="py-12" id="experiencie" >
      <Experiencia />
     
    </SectionContainer>
    <SectionContainer class="py-12" id="projects" >
      <Proyectos />
     
    </SectionContainer>

  </main></Layout
>
