---
const { title, date, position, summary } = Astro.props;
---

<li>
  <div
    class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
  >
    <div class="relative pb-12 md:col-span-2">
      <div class="sticky top-0">
        <span
          class="text-yellow-400 -left-[44px] absolute rounded-full text-5xl"
          >&bull;</span
        >
      </div>
      <div>
        <h2
          class="text-xl font-bold [&>strong]:text-yellow-500 [&>strong]:font-semibold"
        >
          <strong>{position}</strong>
        </h2>
        <h3 class="text-xl font-bold text-gray-800 dark:text-white">{title}</h3>
        <p class="text-gray-600 dark:text-gray-400 text-sm">
          {date}
        </p>
      </div>
    </div>
    <div class="text-gray-600 dark:text-gray-400 md:col-span-3">
      {summary}
    </div>
  </div>
</li>
