---
const { title, description, image } = Astro.props;
---

<article
    class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 pt-2 md:pt-6"
>
    <div class="w-full md:-1/2">
        <div
            class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
        >
            <img
                src={image}
                alt="svgl"
                class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                loading="lazy"
            />
        </div>
    </div>

    <div class="flex flex-col">
        <h2 class="text-2xl dark:text-white text-gray-800 font-bold ">
            {title}
        </h2>
        <div>
            <!-- Tecnologías: -->

            <slot />
        </div>
        <div class="text-gray-600 dark:text-gray-400 md:col-span-3 flex flex-wrap mt-2">
            {description}
        </div>
    </div>
</article>
